footer {
    background-color: #222933; /* Color de fondo del footer */
    color: #d6d6d6; /* Color del texto */
    padding: 50px 0; /* Espaciado interno */
}

footer h4 {
    color: #ffffff; /* Color del título */
    font-weight: 700;
    margin-bottom: 20px; /* Espaciado inferior */
}

footer p, footer ul {
    margin-bottom: 20px; /* Espaciado inferior */
}

footer ul {
    list-style: none; /* Quita los estilos de la lista */
    padding: 0; /* Elimina el relleno */
}

footer ul li {
    margin-bottom: 10px; /* Espaciado inferior */
}

footer ul li a {
    color: #d6d6d6; /* Color de los enlaces */
    text-decoration: none; /* Quita el subrayado */
}

footer ul li a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}
