#logo {
    width: 250px;
    height: auto;
    margin-top: 10px;
}

nav {
    position: absolute;
    top: 40px;
    left: 16%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 0;
    margin-left: 0px;
    min-height: 20px;
    background-color: #792929;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000000;
    font-family: "anime", sans-serif;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000; 
}

.goku1 {
    position: absolute;
    top: 0;
    left: 40px;
    margin: 10px;
    max-width: 300px;
    width: 100%;
}

.cuadro-texto {
    margin-top: 60px;
    margin-left: -90px;
    max-width: 80%;
}
.cuadro-texto h2{
    font-weight: bold;
    color: #7e0101;
}
.cuadro-texto p{
    font-weight: bold;
}
hr {
    border-width: 2px;
    border-color: #575757;
    width: 100%;
}

.naruto1 {
    position: absolute;
    top: 0;
    left: 40px;
    margin: 10px;
    max-width: 300px;
    width: 100%;
}
.cuadro-texto2 {
    margin-top: 90px;
    margin-left: 90px;
    max-width: 80%;
}
.cuadro-texto2 h2{
    font-weight: bold;
    color: #7e0101;
}
.cuadro-texto2 p{
    font-weight: bold;
}

.libro1 {
    position: relative;
    left: 40px;
    margin: 10px;
    max-width: 300px;
    width: 100%;
    margin-top: 60px;
}
.cuadro-texto3 {
    margin-top: 120px;
    margin-left: -90px;
    max-width: 80%;
}
.cuadro-texto3 h2{
    font-weight: bold;
    color: #7e0101;
}
.cuadro-texto3 p{
    font-weight: bold;
}

.tele1 {
    position: absolute;
    top: -90px;
    left: 40px;
    margin: 10px;
    max-width: 350px;
}
.cuadro-texto4 {
    margin-top: -30px;
    margin-left: 90px;
    max-width: 80%;
}
.cuadro-texto4 h2{
    font-weight: bold;
    color: #7e0101;
}
.cuadro-texto4 p{
    font-weight: bold;
}

.btn-registrarse {
    display: block; /* Hace que el botón ocupe toda la longitud del contenedor padre */
    width: 100%; /* Ancho del botón igual al 100% del contenedor padre */
    max-width: 300px; /* Ancho máximo del botón para evitar que sea demasiado ancho en pantallas grandes */
    margin-top: 20px; /* Espacio superior entre el párrafo y el botón */
}
.btn-registrarse {
    display: block;
    margin-left: 50px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; /* Agregamos la transición */
    margin-bottom: 40px;
}

.btn-registrarse:hover {
    background-color: #7e0101; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    text-decoration: none; /* Elimina el subrayado al pasar el cursor */
}
/* Estilos para el footer */
footer {
    background-color: #222933; /* Color de fondo del footer */
    color: #d6d6d6; /* Color del texto */
    padding: 50px 0; /* Espaciado interno */
}

footer h4 {
    color: #ffffff; /* Color del título */
    font-weight: 700;
    margin-bottom: 20px; /* Espaciado inferior */
}

footer p, footer ul {
    margin-bottom: 20px; /* Espaciado inferior */
}

footer ul {
    list-style: none; /* Quita los estilos de la lista */
    padding: 0; /* Elimina el relleno */
}

footer ul li {
    margin-bottom: 10px; /* Espaciado inferior */
}

footer ul li a {
    color: #d6d6d6; /* Color de los enlaces */
    text-decoration: none; /* Quita el subrayado */
}

footer ul li a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}